<!doctype html>
<html>
  <head>
    <title>Recipe Browser</title>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <div id="main" class="page">
      <div
        style="background-image: url('../{{ IMAGE }}'); background-position: center;"
        id="recipe-image"
      >
        <div id="recipe-heading">
          <h1 id="recipe-title">{{ RECIPE_TITLE }}</h1>
          <p id="recipe-description">{{ RECIPE_DESCRIPTION }}</p>
        </div>
      </div>

      <br />

      <div style="padding: 20px">
        <h2 class="section_heading">Ingredients</h2>
        <ol>
          {{ INGREDIENTS }}
        </ol>

        <h2 class="section_heading">Instructions</h2>
        <ol>
          {{ INSTRUCTIONS }}
        </ol>

        <a href="../index.html">&lt home</a>
      </div>
    </div>
  </body>
</html>
